<!-- views/partials/navbar.ejs -->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <i class="fas fa-film"></i> DCal's Movies
  </a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/sort?by=name">Sort by Name</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/sort?by=watched">Sort by Times Watched</a>
      </li>
    </ul>
  </div>
</nav>
